<% if user_signed_in? %>
  <% if current_user.already_liked?(post) %>
    <div class="nav justify-content-end">
      <%= link_to post_like_path(post, id: post.id), method: :delete,
              remote: true, id: 'like_btn', class: 'btn btn-outline-danger' do %>
          <i class="fas fa-heart"></i>
      <% end %>
    </div>
  <% else %>
    <div class="nav justify-content-end">
      <%= link_to post_likes_path(post), method: :post,
              remote: true, id: 'like_btn', class: 'btn btn-outline-danger' do %>
        <i class="far fa-heart"></i>
      <% end %>
    </div>
  <% end %>
  <div class="nav justify-content-end mt-1 mr-1">
    <p><small class="text-muted"><%= post.liked_users.count %> likes</small></p>
  </div>
<% else %>
  <div class="nav justify-content-end">
    <%= link_to new_user_session_path, id: 'like_btn', class: 'btn btn-outline-danger' do %>
      <i class="far fa-heart"></i>
    <% end %>
  </div>
  <div class="nav justify-content-end mt-1 mr-1">
    <p><small class="text-muted"><%= post.liked_users.count %> likes</small></p>
  </div>
<% end %>