<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<!-- 新着投稿 -->
<div>
  <h2>新着投稿</h2>
  <hr size="20" noshad>
  <div class="card-deck">
    <% @posts.each do |post| %>
      <div class="card">
        <% if post.image.attached? %>
          <%= link_to post_path(post), target: "_blank" do %>
            <%= image_tag post.image.variant(gravity: :center, resize:"480x480^", crop:"480x480+0+0").processed,
                    class: 'card-img-top', style: 'width: 100%; height: auto', alt: '' %>
          <% end %>
        <% end %>

        <div class="card-body">
          <div id="likes_buttons_<%= post.id %>">
            <%= render partial: 'likes/like', locals: {post: post} %>
          </div>
          <p class="card-text"><small class="text-muted">投稿日時: <%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!--end-->


<!--週間いいね順-->
<div class="mt-5">
  <h2>週間ランキング</h2>
  <hr size="20" noshad>
  <div class="card-deck">
    <% @posts_likes_weekly.each do |post| %>
      <div class="card">
        <% if post.image.attached? %>
          <%= link_to post_path(post), target: "_blank" do %>
            <%= image_tag post.image.variant(gravity: :center, resize:"480x480^", crop:"480x480+0+0").processed,
                    class: 'card-img-top', style: 'width: 100%; height: auto', alt: '' %>
          <% end %>
        <% end %>

        <div class="card-body">
          <div class="nav justify-content-end mt-1 mr-1">
            <p><small class="text-muted"><%= post.liked_users.count %> likes</small></p>
          </div>
          <p class="card-text"><small class="text-muted">投稿日時: <%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!--end-->


<!--総合いいね順-->
<div class="mt-5">
  <h2>総合ランキング</h2>
  <hr size="20" noshad>
  <div class="card-deck">
    <% @posts_likes_all_time.each do |post| %>
      <div class="card">
        <% if post.image.attached? %>
          <%= link_to post_path(post), target: "_blank" do %>
            <%= image_tag post.image.variant(gravity: :center, resize:"480x480^", crop:"480x480+0+0").processed,
                    class: 'card-img-top', style: 'width: 100%; height: auto', alt: '' %>
          <% end %>
        <% end %>

        <div class="card-body">
          <div class="nav justify-content-end mt-1 mr-1">
            <p><small class="text-muted"><%= post.liked_users.count %> likes</small></p>
          </div>
          <p class="card-text"><small class="text-muted">投稿日時: <%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!--end-->


<!-- 投稿新規作成ボタン -->
<div class='nav justify-content-end' style="position:fixed; bottom:25px; right:25px; z-index: 999;">
  <%= link_to '+', new_post_url, class: 'btn btn-primary rounded-circle' %>
</div>
