<div style="height: 12rem">
  <div class="nav justify-content-center">
    <div>
      <%= link_to @user.avatar.variant(resize:"1024x1024^").processed, target: '_blank' do %>
        <%= image_tag @user.avatar.variant(resize: "360x360").processed, class: 'user-avatar-trim-to-circle', id: 'user_avatar', title: @user.avatar.filename %>
        <% if user_signed_in? && @user.id == current_user.id %>
          <div class="nav justify-content-center mt-3">
            <%= link_to 'ユーザー情報の編集', profile_edit_user_path, class: 'btn btn-light'  %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="nav justify-content-center mt-5">
  <% if @user.introduction %>
    <div style="text-align: center;">
      <p><%= simple_format(@user.introduction) %></p>
    </div>
  <% end %>
</div>

<div class="mt-5">
  <h2><%= @user.name %>の投稿</h2>
  <hr size="20" noshad>
  <div class="card-deck">
    <% @posts.each do |post| %>
      <div class="mr-3 mb-3" style="display: flex; flex-wrap: wrap">
        <div class="card" style="width: 12rem" id="<%= post.user.name + "の投稿" %>">
          <% if post.image.attached? %>
            <%= link_to post_path(post), target: "_blank" do %>
              <%= image_tag post.image.variant(gravity: :center, resize:"480x480^", crop:"480x480+0+0").processed,
                      class: 'card-img-top', style: 'width: 100%; height: auto', alt: post.image.filename %>
            <% end %>
          <% end %>

          <div class="card-body">
            <div id="likes_buttons_<%= post.id %>">
              <%= render partial: 'likes/like', locals: {post: post} %>
            </div>
            <p class="card-text"><small class="text-muted">投稿日時: <%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>

<%= render partial: 'shared/create_new_post_btn' %>