<div class="card" style="width: 100%;">
  <%= image_tag @post.image.variant(resize: '1080x1080').processed,
        class: 'card-img-top', alt: "#{@post.image.filename}" %>
  <div class="card-header">
    <% if user_signed_in? && @post.user_id == current_user.id %>
      <ul class="nav nav-pills card-header-pills justify-content-end">
        <li class="nav-item">
          <%= link_to '編集', edit_post_path(@post), class: 'nav-link text-secondary' %>
        </li>
        <li class="nav-item">
          <%= link_to '削除', post_path(@post), method: :delete,
              class: 'nav-link text-danger', data: { confirm: '本当に削除してもよろしいですか？' } %>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="card-body px-5">
    <% if @post.body %>
      <div class="my-5">
        <p class="card-text"><%= simple_format(@post.body) %></p>
        <hr size="20" noshad>
      </div>
    <% end %>
    <div id="likes_buttons_<%= @post.id %>">
      <%= render partial: 'likes/like', locals: {post: @post} %>
    </div>
    <p class="card-text"><small class="text-muted">投稿日時：<%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></small></p>
  </div>
  <div class="card-footer bg-light">
    <div class="my-1">
      <%= link_to  profile_show_user_path(@post.user) do %>
        <div class="d-inline-block">
          <%= image_tag @post.user.avatar.variant(resize:"240x240").processed, class: 'user-avatar-trim-to-circle',
                  style: "width: 40px; height: 40px;", id: 'user_avatar' %>
        </div>
        <div class="d-inline-block ml-3 text-secondary">
          <%= @post.user.name %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="card text-center p-5 mt-3">
  <p>コメント欄</p>
</div>
