<h2>ユーザー管理画面</h2>

<div class="mt-5">
  <table class="table">
    <thead>
      <tr>
        <th>user_name</th>
        <th>email</th>
        <th>投稿制限</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.name, admin_user_path(user), class: 'text-secondary' %>
          </td>
          <td><%= user.email %></td>
          <td>
            <% if user.prohibition? %>
              <strong class="text-danger">
                <%= user.prohibition %>
              </strong>
            <% else %>
              <%= user.prohibition %>
            <% end %>
          </td>
          <td>
            <% if user.prohibition? %>
              <%= link_to '投稿制限の解除', admin_user_prohibition_path(user), method: :delete,
                        class: 'btn btn-outline-success' %>
            <% else %>
              <%= link_to '投稿制限の付与', admin_user_prohibition_path(user), method: :post,
                        class: 'btn btn-outline-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate(@users) %>
</div>