<!DOCTYPE html>
<html>
  <head>
    <title>MyFavoriteConvenienceStoreSDesserts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class='container mt-5 mb-5'>
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert%>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
    <%= debug(params) %>
    <%= render 'shared/footer' %>
  </body>
</html>
