<h2>サインアップ</h2>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="mt-5">
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email,
                    autofocus: true,
                    autocomplete: "email",
                    class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(最小<%= @minimum_password_length %>文字)</em>
      <% end %><br />
      <%= f.password_field :password,
                      autocomplete: "new-password",
                      class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation,
                      autocomplete: "new-password",
                      class: 'form-control' %>
    </div>

    <div class="nav justify-content-end mt-5">
      <%= f.submit "サインアップ", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= render "users/shared/links" %>
